@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Theme */
@theme {
    /* Font */
    --font-serif: var(--font-dm-serif-display), serif;

    /* Colors */
    --color-primary-brown: #A56C30;
    --color-primary-gray: #DDCCB3;
    --color-secondary-brown: #8E5A2A;
    --color-secondary-gray: #AE9E8A;
    --color-tertiary-red: #9B2A2A;
    --color-accent-red: #D4413B;
    --color-tertiary-yellow: #BB832B;
    --color-accent-yellow: #EFAA1F;
    --color-tertiary-purple: #1F0E23;
    --color-accent-purple: #471651;
}

/* Plugins */
@plugin "@tailwindcss/typography";

@font-face {
  font-family: "League Spartan";
  src: url("/fonts/LeagueSpartan.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "League Gothic";
  src: url("/fonts/LeagueGothic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "Oswald";
    src: url("/fonts/Oswald.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {
  font-family: "League Spartan", sans-serif;
  background: url("/pages/home.png") center/cover no-repeat;
}

h1 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.25rem;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

h2 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 1.75rem;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

main a {
  font-weight: 400;
}

main a:hover, footer a:hover {
  text-decoration: underline;
}

address {
  font-style: normal;
}