@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .corner {
    clip-path: polygon(0 0, 0% 100%, 100% 0);
  }
}

@font-face {
  font-family: "League Spartan";
  src: url("/fonts/LeagueSpartan.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "League Gothic";
  src: url("/fonts/LeagueGothic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "Oswald";
    src: url("/fonts/Oswald.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {
  font-family: "League Spartan", sans-serif;
  background: linear-gradient(
          rgba(255, 243, 228, 0.7),
          rgba(221, 204, 179, 0.3)
  ), url("/bg.webp") center/cover no-repeat;
}

h1 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.25rem;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

h2 {
  font-family: "League Gothic", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1.75rem;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

main a {
  font-weight: 400;
}

main a:hover, footer a:hover {
  text-decoration: underline;
}

address {
  font-style: normal;
}