@import "tailwindcss";
@import "@heroui/styles";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

/* Theme */
@theme {
  /* Font */
  --font-sans: var(--font-league-spartan), sans-serif;
  --font-serif: var(--font-dm-serif-display), serif;

  /* Colors */
  --color-primary-brown: #a56c30;
  --color-primary-gray: #ddccb3;
  --color-secondary-brown: #8e5a2a;
  --color-secondary-gray: #ae9e8a;
  --color-tertiary-red: #9b2a2a;
  --color-accent-red: #d4413b;
  --color-tertiary-yellow: #bb832b;
  --color-accent-yellow: #efaa1f;
  --color-tertiary-purple: #1f0e23;
  --color-accent-purple: #471651;
}

/*@font-face {
  font-family: "League Spartan";
  src: url("/fonts/LeagueSpartan.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: "Oswald";
    src: url("/fonts/Oswald.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}*/

body {
  font-family: var(--font-sans), sans-serif;
  background-color: white;
}

h1 {
  /*font-family: "Oswald", sans-serif;*/
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.25rem;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

h2 {
  /*font-family: "Oswald", sans-serif;*/
  text-align: center;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 1.75rem;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}

main a {
  font-weight: 400;
}

.underline-animation {
  @apply relative before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full before:origin-right before:scale-x-0 before:bg-white before:transition-transform before:duration-300 before:ease-in-out hover:before:origin-left hover:before:scale-x-100;
}

.underline-active {
  @apply before:origin-left before:scale-x-100;
}

/*
relative before:absolute before:bottom-0 before:left-0 before:h-[2px] before:w-full
before:origin-right before:scale-x-0 before:bg-white before:transition-transform
before:duration-300 before:ease-in-out hover:before:origin-left hover:before:scale-x-100

 */

/*main a:hover, footer a:hover {
  text-decoration: underline;
}*/

address {
  font-style: normal;
}
