---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Bookings" orientation="bottom-right">
  <h1>Bookings</h1>

  <p>
    Oat Café is the perfect venue for kids' parties. Our dedicated party
    packages offer a hassle-free way to host a fun-filled celebration, complete
    with delicious food, and plenty of smiles.
  </p>

  <a
    href="https://wellington.govt.nz/recreation/activities-for-kids/birthday-parties/akau-tangi-sports-centre"
    target="_blank"
    rel="noreferrer noopener nofollow"
    class="z-20 self-end font-semibold"
  >
    Book at Ākau Tangi Sports Centre →
  </a>
</Layout>
