---
import { Image } from "astro:assets";

import { Icon } from "astro-icon/components";

import Layout from "@/layouts/Layout.astro";
---

<Layout title="Catering & Functions" orientation="top-right">
  <h1>Catering & Functions</h1>

  <a
    href="https://yellowseat.co.nz"
    target="_blank"
    rel="noopener noreferrer nofollow"
    class="self-center"
  >
    <Image
      src={import("../assets/img/yellowseat.png")}
      width="750"
      alt="Yellow Seat"
      class="w-full max-w-md"
      loading="eager"
    /></a
  >

  <p>
    Yellow Seat was founded out of a love of cuisine, our passion for service,
    and a drive to excel in the industry. We take great pleasure in being able
    to produce almost any delectable dish you can think of and deliver it with
    unmatched service.
  </p>

  <p>
    We can accommodate all of your catering needs; please <a
      href="mailto:manager@oatcafe.co.nz">email us</a
    > your inquiry.
  </p>

  <a
    href="/catering-menu.jpg"
    class="h-48 w-72 self-center rounded-xl bg-[url('/catering.jpg')] bg-cover bg-center bg-no-repeat text-white shadow-xl hover:no-underline"
  >
    <h2 class="rounded-t-xl bg-black bg-opacity-80 py-2 text-2xl">
      Catering Menu
    </h2>
  </a>
</Layout>
