---
import Layout from "@/layouts/Layout.astro";

import Input from "@/components/ui/Input.astro";
import Textarea from "@/components/ui/Textarea.astro";
import Button from "@/components/ui/Button.astro";

import { ContactForm } from "@/components/contact-form";
---

<Layout title="Contact" orientation="top-left">
  <div class="grid gap-6 md:grid-cols-2">
    <iframe
      title="Google Maps location"
      width="100%"
      height="400"
      style="border:0"
      referrerpolicy="no-referrer-when-downgrade"
      src={`https://www.google.com/maps/embed/v1/place?key=${import.meta.env.PUBLIC_GOOGLE_API_KEY}&q=Oat+Cafe+Wellington`}
      class="rounded-3xl bg-white shadow"
      allowfullscreen
    >
    </iframe>

    <form
      name="contact"
      method="POST"
      data-netlify="true"
      class="mx-auto flex w-full max-w-lg flex-col gap-4"
      data-astro-reload
    >
      <ContactForm client:visible />
    </form>
  </div>
</Layout>

<style>
  span {
    color: red;
  }
</style>
