---
import { Image } from "astro:assets";

import Layout from "@/layouts/Layout.astro";

import { Button } from "@heroui/react";
---

<Layout title="Home" orientation="bottom-left">
  <div class="space-y-6">
    <Image
      id="logo"
      src={import("../assets/img/logo.png")}
      width="550"
      alt="Oat Café logo"
      class="mx-auto h-auto w-96 object-cover"
      loading="eager"
    />

    <a href="/menu" class="flex justify-center">
      <Button
        size="lg"
        className="bg-primary-brown h-12 w-32 font-serif text-xl font-bold uppercase"
        >Menu</Button
      ></a
    >
  </div>
</Layout><script
  src="https://featurable.com/assets/v2/undefined.min.js"
  defer
  charset="UTF-8"></script>

<style>
  body {
    background:
      linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("/pages/home.png") center/cover no-repeat;
  }
</style>
