---
import { Image } from "astro:assets";

import Layout from "@/layouts/Layout.astro";
---

<Layout title="Home" orientation="bottom-left">
  <div class="space-y-3">
    <Image
      id="logo"
      src={import("../assets/img/logo.png")}
      width="550"
      alt="Oat Café logo"
      class="mx-auto h-auto w-96 object-cover"
      loading="eager"
    />
  </div>
</Layout>
