---
import { Image } from "astro:assets";

import Layout from "@/layouts/Layout.astro";

import { Button } from "@heroui/react";
---

<Layout title="Home" orientation="bottom-left">
  <div class="space-y-6">
    <Image
      id="logo"
      src={import("../assets/img/logo.png")}
      width="550"
      alt="Oat Café logo"
      class="mx-auto h-auto w-96 object-cover"
      loading="eager"
    />

    <a href="/menu">
      <Button
        size="lg"
        className="bg-primary-brown h-12 w-32 w-full font-serif text-xl font-bold uppercase"
        >Menu</Button
      ></a
    >

    <a
      href="https://www.ubereats.com/nz/store/oat-cafe/Wm4KrAvQTueBU13tp67w7Q"
      target="_blank"
      rel="noopener noreferrer nofollow"
      class="absolute top-0 right-0"
    >
      <Image
        id="logo"
        src={import("../assets/img/uber/uber-eats.png")}
        width="350"
        alt="Uber Eats logo"
        class="mx-auto h-auto w-32 self-center"
        loading="eager"
      /></a
    >
  </div>
</Layout>
