---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Kids Parties" orientation="bottom-right">
  <h1>Kids Parties</h1>

  <div class="space-y-3">
    <p>
      Oat Café is the perfect venue for kids parties. Our dedicated party
      packages offer a hassle-free way to host a fun-filled celebration,
      complete with delicious food, and plenty of smiles.
    </p>

    <p>
      Oat Café can cater for birthday parties booked at <a
        href="https://wellington.govt.nz/recreation/activities-for-kids/birthday-parties/akau-tangi-sports-centre"
        target="_blank"
        rel="noreferrer noopener nofollow">Ākau Tangi Sports Centre</a
      >. Our dedicated party packages offer hassle-free, delicious food to
      accompany your fun-filled celebration. Birthday party bookings must be
      made through Ākau Tangi Sports Centre and catering booked separately by
      contacting <a href="/contact">Oat Café</a>.
    </p>
  </div>

  <a
    href="/kids-menu.jpg"
    class="h-48 w-72 self-center rounded-xl bg-[url('/kids-birthdays.webp')] bg-cover bg-center text-white shadow-xl hover:no-underline"
  >
    <h2 class="rounded-t-xl bg-black bg-opacity-80 py-2 text-2xl">
      Kids Birthday Menu
    </h2>
  </a>

  <a
    href="https://wellington.govt.nz/recreation/activities-for-kids/birthday-parties/akau-tangi-sports-centre"
    target="_blank"
    rel="noreferrer noopener nofollow"
    class="z-20 self-end font-semibold"
  >
    Book at Ākau Tangi Sports Centre →
  </a>
</Layout>
