---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Menu" orientation="top-left">
  <h1>Menu</h1>

  <p>
    Our menu boasts a delectable selection of food options, ranging from hearty
    breakfasts to mouthwatering lunch options and tempting treats. Using fresh,
    sourced ingredients, our chefs create culinary delights that cater to every
    palate and dietary preference.
  </p>

  <a href="/menu.pdf" class="self-end font-semibold"> Our menu → </a>
</Layout>
