---
import { Image } from "astro:assets";

import { Button } from "@heroui/react";

import Layout from "@/layouts/Layout.astro";
---

<Layout title="Menu">
  <div class="grid items-center gap-6 pt-24 text-white md:grid-cols-2">
    <div class="hero space-y-6">
      <h2 class="font-serif text-3xl">Love the food but hate the wait?</h2>

      <h2 class="font-serif text-3xl">Order on Uber Eats and skip the line!</h2>

      <div class="flex justify-center">
        <a
          href="https://www.ubereats.com/nz/store/oat-cafe/Wm4KrAvQTueBU13tp67w7Q"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <Image
            id="logo"
            src={import("../assets/img/uber/uber-eats.png")}
            width="350"
            alt="Uber Eats logo"
            class="mx-auto h-auto w-42 self-center"
            loading="eager"
          /></a
        >
      </div>
    </div>

    <div>
      <div class="flex justify-center bg-black p-12">
        <a href="/menu.jpg" class="w-full">
          <Button
            size="lg"
            fullWidth={true}
            className="h-12 w-32 w-full rounded-none border bg-black font-serif text-xl text-white"
            >Menu</Button
          ></a
        >
      </div>
    </div>
  </div>
</Layout>

<style>
  body {
    background:
      linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url("/pages/menu.png") center/cover no-repeat;
  }
</style>
