---
import { Image } from "astro:assets";

import MobileMenu from "./MobileMenu.astro";

import OatUnderline from "./OatUnderline.astro";

import { cn } from "@/lib/utils";
import { links } from "@/lib/data";

const pathname = Astro.url.pathname;
---

<!--<nav
  class="border-separator bg-background/70 sticky top-0 z-40 w-full border-b backdrop-blur-lg"
>
  <header class="flex h-16 items-center justify-between px-6">
    <div class="flex items-center gap-3">
      <p class="font-bold">ACME</p>
    </div>
    <ul class="flex items-center gap-4">
      <li><a href="#">Features</a></li>
      <li><a href="#">Pricing</a></li>
    </ul>
  </header>
</nav>-->{
  /* With right-aligned content */
}

<header class="font-serif sticky top-0 z-40 w-full bg-black text-white backdrop-blur-lg">
  <nav class="relative flex h-20 items-center px-5">
    {pathname === "/" && <a
      href="https://wellington.govt.nz/recreation/facilities-and-centres/akau-tangi-sports-centre"
      target="_blank"
      rel="noreferrer noopener nofollow"
      class="corner absolute left-0 top-full size-[8.5rem] bg-black sm:size-36 md:size-48"
      ><Image
        src={import("../../assets/img/akau-tangi.png")}
        width="250"
        alt="Akau Tangi Sports Centre logo"
        class="size-20 md:size-24 lg:size-28"
        loading="eager"
      /></a
    >}

    <a href="/" class="bg-black rounded-full size-32"
      ><Image
        id="logo"
        src={import("../../assets/img/logo.png")}
        width="250"
        alt="Oat Café logo"
        class="mx-auto w-32"
        loading="eager"
      /></a
    >

    <ul class="absolute left-1/2 flex -translate-x-1/2 gap-2 text-xl">
      {
        links.map((link) => (
          <li class="relative">
            <a
              href={link.href}
              class={cn(
                "group relative z-20 inline-flex rounded-lg p-2 font-semibold uppercase text-white transition-colors hover:text-white",
                link.href === "/"
                  ? pathname === "/" && "underline underline-offset-4 decoration-4"
                  : pathname.startsWith(link.href) && "underline underline-offset-4 decoration-4",
              )}
              data-astro-prefetch
            >
              {link.name}
            </a>

           <!-- {link.href === "/"
              ? pathname === "/" && <OatUnderline />
              : pathname.startsWith(link.href) && <OatUnderline />}-->
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<MobileMenu />

<style>
  .corner {
    clip-path: polygon(0 0, 0% 100%, 100% 0);
  }
</style>