---
import { Image } from "astro:assets";

import MobileMenu from "./MobileMenu.astro";

import OatUnderline from "./OatUnderline.astro";

import { cn } from "@/lib/utils";
import { links } from "@/lib/data";

const pathname = Astro.url.pathname;
---

<!--<nav
  class="border-separator bg-background/70 sticky top-0 z-40 w-full border-b backdrop-blur-lg"
>
  <header class="flex h-16 items-center justify-between px-6">
    <div class="flex items-center gap-3">
      <p class="font-bold">ACME</p>
    </div>
    <ul class="flex items-center gap-4">
      <li><a href="#">Features</a></li>
      <li><a href="#">Pricing</a></li>
    </ul>
  </header>
</nav>-->{
  /* With right-aligned content */
}

<header class="font-serif sticky top-0 z-40 w-full bg-black text-white backdrop-blur-lg">
  <nav class="relative flex h-14 items-center px-5">
    {pathname === "/" && <a
      href="https://wellington.govt.nz/recreation/facilities-and-centres/akau-tangi-sports-centre"
      target="_blank"
      rel="noreferrer noopener nofollow"
      class="corner absolute left-0 top-full size-[8.5rem] bg-gray-800 sm:size-36 md:size-48"
      ><Image
        src={import("../../assets/img/akau-tangi.png")}
        width="250"
        alt="Akau Tangi Sports Centre logo"
        class="size-20 md:size-24 lg:size-28 duration-300 hover:translate-y-0.5"
        loading="eager"
      /></a
    >}

    {pathname === "/" && <a
      href="https://www.ubereats.com/nz/store/oat-cafe/Wm4KrAvQTueBU13tp67w7Q"
      target="_blank"
      rel="noopener noreferrer nofollow"
      class="absolute top-20 right-5 duration-300 hover:translate-y-0.5"
    >
      <Image
        id="logo"
        src={import("../../assets/img/uber/uber-eats.png")}
        width="350"
        alt="Uber Eats logo"
        class="mx-auto h-auto w-24 self-center"
        loading="eager"
      /></a
    >}

    <!--<a href="/" class="size-28 rounded-full bg-black  absolute top-1.5 flex items-center justify-center border-[6px] border-stone-600"
      ><Image
        id="logo"
        src={import("../../assets/img/logo.png")}
        width="250"
        alt="Oat Café logo"
        class="mx-auto w-20 h-auto object-cover"
        loading="eager"
      /></a
    >-->

    <ul class="absolute left-1/2 flex -translate-x-1/2 gap-2 text-lg">
      {
        links.map((link) => (
          <li class="relative">
            <a
              href={link.href}
              class={cn(
                "group relative z-20 inline-flex rounded-lg mx-2 font-semibold uppercase text-white transition-colors hover:text-white underline-animation before:!h-[3px]",
                link.href === "/"
                  ? pathname === "/" && "underline-active before:!h-[3px]"
                  : pathname.startsWith(link.href) && "underline-active",
              )}
              data-astro-prefetch
            >
              {link.name}
            </a>

           <!-- {link.href === "/"
              ? pathname === "/" && <OatUnderline />
              : pathname.startsWith(link.href) && <OatUnderline />}-->
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<MobileMenu />

<style>
  .corner {
    clip-path: polygon(0 0, 0% 100%, 100% 0);
  }
</style>