---
import { cn } from "@/lib/utils";
import { links } from "@/lib/data";
---

<button
  type="button"
  id="mobile-toggle"
  class="absolute right-5 top-5 z-30 h-[32px] w-[40px] sm:hidden"
  aria-label="toggle mobile menu"
>
  {Array.from(Array(3).keys()).map(() => <span />)}
</button>

<nav
  id="mobile-menu"
  class="fixed bottom-0 left-0 right-0 top-0 z-20 hidden w-full bg-black py-2 dark:border-slate-800 dark:bg-cyan-950"
>
  <ul class="flex h-full flex-col justify-center gap-6 text-2xl">
    {
      links.map((link) => (
        <li>
          <a
            href={link.href}
            class={cn(
              "relative p-1.5 font-semibold text-white hover:underline",
            )}
            data-astro-prefetch
          >
            {link.name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  li {
    width: 100%;
    text-align: center;
  }

  #mobile-toggle span {
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #1f0e23;
    transform: rotate(0);
    transition: 0.2s ease-in-out;
  }

  html.dark #mobile-toggle span {
    background: #f1f5f9;
  }

  #mobile-toggle span:nth-child(1) {
    top: 0;
  }

  #mobile-toggle.open span:nth-child(1) {
    top: 14px;
    transform: rotate(45deg);
  }

  #mobile-toggle span:nth-child(2) {
    top: 14px;
  }

  #mobile-toggle.open span:nth-child(2) {
    opacity: 0;
  }

  #mobile-toggle span:nth-child(3) {
    top: 28px;
  }

  #mobile-toggle.open span:nth-child(3) {
    top: 14px;
    transform: rotate(-45deg);
  }
</style>

<script is:inline>
  function initMobileMenu() {
    const mobileToggle = document.getElementById("mobile-toggle");
    const mobileMenu = document.getElementById("mobile-menu");

    if (mobileToggle && mobileMenu) {
      mobileToggle.addEventListener("click", () => {
        mobileMenu.classList.toggle("hidden");
        mobileToggle.classList.toggle("open");
        mobileToggle.classList.toggle("!fixed");

        mobileToggle
          .querySelectorAll("span")
          .forEach((span) => span.classList.toggle("!bg-white"));
      });
    }
  }

  initMobileMenu();

  document.addEventListener("astro:after-swap", () => initMobileMenu());
</script>
