---
import { Icon } from "astro-icon/components";
---

<div class="flex flex-col items-center gap-0">
  <p>8am–7pm daily</p>
  <address class="text-center">
    72 Kemp Street<br />Kilbirnie, Wellington
  </address>
</div>
