---
import { Icon } from "astro-icon/components";
---

<div class="flex items-start gap-2">
  <Icon name="lucide:map" class="mt-0.5 size-5" />
  <address>
    Ākau Tangi Sports Centre<br />72 Kemp Street<br />Wellington 6022
  </address>
</div>
