---
import { Icon } from "astro-icon/components";
---

<div class="flex items-center gap-2">
  <Icon name="lucide:phone" class="size-5" /><a href="tel:+64273530702"
    >027 353 0702</a
  >
</div>

<div class="flex items-center gap-2">
  <Icon name="mail" class="size-5" /><a
    href="mailto:manageroat@yellowseat.co.nz">manageroat@yellowseat.co.nz</a
  >
</div>
