---
import { Icon } from "astro-icon/components";
---

<div class="flex items-center gap-2">
  <Icon name="lucide:phone" class="size-5" /><a href="tel:+64-4-8300500"
    >04 830 0500</a
  >
</div>

<div class="flex items-center gap-2">
  <Icon name="mail" class="size-5" /><a href="mailto:manager@oatcafe.co.nz"
    >manager@oatcafe.co.nz</a
  >
</div>
