---

---

<div class="flex flex-col items-center gap-0">
  <!--<h3 class="text-xl font-bold">Contact</h3>-->
  <a href="tel:+64273530702" class="underline-animation">027 353 0702</a>
  <a href="mailto:manageroat@yellowseat.co.nz" class="underline-animation"
    >manageroat@yellowseat.co.nz</a
  >
</div>
