---

---

<div class="flex flex-col items-center gap-0">
  <h3 class="text-2xl font-bold">Contact</h3>
  <a href="tel:+64273530702">027 353 0702</a>
  <a href="mailto:manageroat@yellowseat.co.nz">manageroat@yellowseat.co.nz</a>
</div>
