---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import ContactInfo from "@/components/ContactInfo.astro";
import Address from "@/components/Address.astro";

import facebook from "@/assets/icons/facebook.png";
import tiktok from "@/assets/icons/tiktok.png";
---

<footer class="mt-auto flex justify-center bg-black py-8 font-serif text-white">
  <div class="flex flex-col items-center gap-3">
    <Image
      id="logo"
      src={import("../assets/img/logo.png")}
      width="300"
      alt="Oat Café logo"
      class="mx-auto w-36"
      loading="eager"
    />

    <Address />

    <ContactInfo />

    <div class="mt-2 flex justify-center gap-3">
      <a
        href="https://www.facebook.com/OatCafe/"
        target="_blank"
        rel="noopener noreferrer nofollow"
        aria-label="Facebook page"
        class="duration-300 hover:translate-y-0.5"
        ><Image src={facebook} alt="Facebook page" class="size-8" /></a
      >
      <a
        href="https://www.instagram.com/oat.cafe/"
        target="_blank"
        rel="noopener noreferrer nofollow"
        aria-label="Instagram page"
        class="duration-300 hover:translate-y-0.5"
        ><Icon name="instagram" class="size-8" /></a
      >
      <a
        href="https://www.tiktok.com/@oat.cafe"
        target="_blank"
        rel="noopener noreferrer nofollow"
        aria-label="TikTok page"
        class="duration-300 hover:translate-y-0.5"
        ><Image src={tiktok} alt="TikTok page" class="size-8" /></a
      >
    </div>
  </div>
</footer>
