---
import "@/styles/globals.css";

import { Font, Image } from "astro:assets";
import { ClientRouter } from "astro:transitions";

import Header from "@/components/header/Header.astro";
import Footer from "@/components/Footer.astro";
import { GoogleReviewsModal } from "@/components/google-reviews-modal.tsx";

interface Props {
  title: string;
  orientation: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />

    <title>{title} - Oat Café</title>

    <meta name="description" content="Oat Cafe" />
    <meta
      name="keywords"
      content="cafe, wellington, new zealand, nz, akau, tangi, Akau Tangi Sports Centre, vegan, kid, friendly"
    />
    <meta name="viewport" content="width=device-width" />

    <slot name="head" />

    <Font cssVariable="--font-league-spartan" />
    <Font cssVariable="--font-literata" />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <ClientRouter />
  </head>
  <body class="mx-auto flex min-h-screen flex-col bg-gray-900 text-xl">
    <Header />

    <main
      transition:animate="fade"
      class="relative mx-5 my-12 flex w-full max-w-4xl flex-col gap-6 self-center rounded-3xl p-5 text-black xl:max-w-5xl"
    >
      <slot />
    </main>

    <Footer />

    <GoogleReviewsModal client:visible
      ><div
        class="corner absolute right-0 bottom-0 size-[8.5rem] overflow-hidden bg-white sm:size-36 md:size-48"
      >
        <Image
          id="logo"
          src={import("../assets/img/google-reviews.png")}
          width="550"
          alt="Google Reviews logo"
          class="absolute right-0 bottom-0 size-24 -rotate-45 object-contain duration-300 md:size-32"
          loading="eager"
        />
      </div></GoogleReviewsModal
    >
    <style>
      .corner {
        clip-path: polygon(100% 100%, 0 100%, 100% 0);
      }
    </style>
  </body>
</html>
