---
import "@/styles/globals.css";

import { ClientRouter } from "astro:transitions";

import Header from "@/components/header/Header.astro";
import Footer from "@/components/Footer.astro";
import OatDecoration from "@/components/OatDecoration.astro";

interface Props {
  title: string;
  orientation: string;
}

const { title, orientation } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />

    <title>{title} - Oat Café</title>

    <meta name="description" content="Oat Cafe" />
    <meta
      name="keywords"
      content="cafe, wellington, new zealand, nz, akau, tangi, Akau Tangi Sports Centre, vegan, kid, friendly"
    />
    <meta name="viewport" content="width=device-width" />

    <slot name="head" />

    <link
      rel="preload"
      href="/fonts/LeagueSpartan.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/LeagueGothic.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link rel="preload" href="/wood.png" as="image" />
    <link rel="preload" href="/bg.webp" as="image" />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <ClientRouter />
  </head>
  <body class="mx-auto flex min-h-screen flex-col text-xl">
    <Header />

    <main
      class="relative mx-5 my-12 flex max-w-2xl flex-col gap-6 self-center rounded-xl bg-primary-gray bg-opacity-85 p-8 text-black shadow-xl xl:max-w-3xl"
    >
      <slot />

      <OatDecoration orientation={orientation} />
    </main>

    <Footer />
    <style>
      main {
        background:
          linear-gradient(rgba(255, 243, 228, 0.2), rgba(221, 204, 179, 0.2)),
          url("/wood.png") center center/cover no-repeat;
        box-shadow:
          rgba(0, 0, 0, 1) 0px 1px 2px,
          rgba(0, 0, 0, 1) 0px 2px 2px -3px,
          rgba(0, 0, 0, 1) 0px 0px 0px inset;
      }
    </style>
  </body>
</html>
