---
import "@/styles/globals.css";

import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";

import Header from "@/components/header/Header.astro";
import Footer from "@/components/Footer.astro";

interface Props {
  title: string;
  orientation: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />

    <title>{title} - Oat Café</title>

    <meta name="description" content="Oat Cafe" />
    <meta
      name="keywords"
      content="cafe, wellington, new zealand, nz, akau, tangi, Akau Tangi Sports Centre, vegan, kid, friendly"
    />
    <meta name="viewport" content="width=device-width" />

    <slot name="head" />

    <Font cssVariable="--font-league-spartan" />
    <Font cssVariable="--font-literata" />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <ClientRouter />
  </head>
  <body class="mx-auto flex min-h-screen flex-col bg-gray-900 text-xl">
    <Header />

    <main
      transition:animate="fade"
      class="relative mx-5 my-12 flex w-full max-w-4xl flex-col gap-6 self-center rounded-3xl p-5 text-black xl:max-w-5xl"
    >
      <slot />

      <!--<OatDecoration orientation={orientation} />-->
    </main>

    <Footer />

    <!--<style>
      main {
        background:
          linear-gradient(rgba(255, 243, 228, 0.25), rgba(221, 204, 179, 0.25)),
          url("/wood-flat.png") center center / 100% 100% no-repeat;
      }
    </style>-->
  </body>
</html>
